<div class="container aligning-container">
    <div class="container main-layout">
        <app-header></app-header>
        <div class="container app-layout basic-container">
            <div class="container basic-container">
                <app-recipes-card class="basic-container-card" title="Recipes List"></app-recipes-card>
            </div>
            <div class="container basic-container">
                <app-meal-card class="basic-container-card"></app-meal-card>
            </div>
            <div class="container basic-container">
                <app-cart-card class="basic-container-card" title="Cart"></app-cart-card>
            </div>
        </div>
    </div>
</div>