<mat-card class="meal-card common-card">
    <mat-card-header>
        <mat-card-title>{{selectedRecipe.title}}</mat-card-title>
        <mat-card-subtitle>Ochen vkusno</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.pinimg.com/originals/e4/4f/ca/e44fca55a6fb861266d2674f7bed40a3.jpg"
        alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-card-title>Ingredients</mat-card-title>
        <mat-list>
            <mat-list-item *ngFor="let ingredient of selectedRecipe.ingredients; let i = index">
                {{i + 1}}. {{ingredient.name}} {{ingredient.num}}{{ingredient.unit}}
            </mat-list-item>
        </mat-list>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br>
        <mat-card-title>Steps</mat-card-title>
        <mat-list>
            <mat-list-item *ngFor="let step of selectedRecipe.steps; let i = index">
                {{i + 1}}. {{step}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="onClick(selectedRecipe.ingredients)">ADD TO CART</button>
    </mat-card-actions>
</mat-card>